<a href="https://colab.research.google.com/github/VOS04/Analise_de_dados_com_Python_Pandas/blob/main/Analise_de_dados_com_python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro exemplo de manupulação de dados usando o Pandas no Python

Autor: Valdeno de Oliveira Santos

Data: 07/02/2023

In [65]:
import pandas as pd 
# Faz a importação do arquivo e instancia ele a variavél "combustivel_df"
combustiveis_df = pd.read_csv("precos-semestrais-ca-2022-01.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (20,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [66]:
#Mostras os dados do arquivo csv
print(combustiveis_df)

       Regiao - Sigla Estado - Sigla   Municipio  \
0                   N             AC  RIO BRANCO
1                   N             AC  RIO BRANCO
2                   N             AC  RIO BRANCO
3                   N             AC  RIO BRANCO
4                   N             AC  RIO BRANCO
...               ...            ...         ...
529419             CO             MT      CUIABA
529420             NE             MA      CAXIAS
529421             NE             MA      CAXIAS
529422             NE             MA      CAXIAS
529423             NE             MA      CAXIAS

                                     Revenda      CNPJ da Revenda  \
0                  AUTO POSTO AMAPA - EIRELI   00.529.581/0001-53
1                  AUTO POSTO AMAPA - EIRELI   00.529.581/0001-53
2                  AUTO POSTO AMAPA - EIRELI   00.529.581/0001-53
3                  AUTO POSTO AMAPA - EIRELI   00.529.581/0001-53
4                  AUTO POSTO AMAPA - EIRELI   00.529.581/0001-53
...                                      ...                  ...
529419   OZ REVENDEDORA DE COMBUSTIVEIS LTDA   36.757.198/0001-08
529420  POSTAO COMERCIO DE COMBUSTIVEIS LTDA   31.597.569/0001-00
529421  POSTAO COMERCIO DE COMBUSTIVEIS LTDA   31.597.569/0001-00
529422  POSTAO COMERCIO DE COMBUSTIVEIS LTDA   31.597.569/0001-00
529423  POSTAO COMERCIO DE COMBUSTIVEIS LTDA   31.597.569/0001-00

                    Nome da Rua Numero Rua                        Complemento  \
0              VIA CHICO MENDES       3570                                NaN
1              VIA CHICO MENDES       3570                                NaN
2              VIA CHICO MENDES       3570                                NaN
3              VIA CHICO MENDES       3570                                NaN
4              VIA CHICO MENDES       3570                                NaN
...                         ...        ...                                ...
529419  AVENIDA SENADOR METELLO        868                                NaN
529420           RODOVIA BR-316        S/N  KM    552                 SALA  A
529421           RODOVIA BR-316        S/N  KM    552                 SALA  A
529422           RODOVIA BR-316        S/N  KM    552                 SALA  A
529423           RODOVIA BR-316        S/N  KM    552                 SALA  A

               Bairro        Cep  ...    Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0               AREAL  69906-119  ...  VIBRA ENERGIA         NaN         NaN
1               AREAL  69906-119  ...  VIBRA ENERGIA         NaN         NaN
2               AREAL  69906-119  ...  VIBRA ENERGIA         NaN         NaN
3               AREAL  69906-119  ...  VIBRA ENERGIA         NaN         NaN
4               AREAL  69906-119  ...  VIBRA ENERGIA         NaN         NaN
...               ...        ...  ...            ...         ...         ...
529419     CENTRO-SUL  78020-600  ...         BRANCA         NaN         NaN
529420  VOLTA REDONDA  65606-525  ...         BRANCA         NaN         NaN
529421  VOLTA REDONDA  65606-525  ...         BRANCA         NaN         NaN
529422  VOLTA REDONDA  65606-525  ...         BRANCA         NaN         NaN
529423  VOLTA REDONDA  65606-525  ...         BRANCA         NaN         NaN

       Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22 Unnamed: 23  \
0              NaN         NaN         NaN         NaN         NaN
1              NaN         NaN         NaN         NaN         NaN
2              NaN         NaN         NaN         NaN         NaN
3              NaN         NaN         NaN         NaN         NaN
4              NaN         NaN         NaN         NaN         NaN
...            ...         ...         ...         ...         ...
529419         NaN         NaN         NaN         NaN         NaN
529420         NaN         NaN         NaN         NaN         NaN
529421         NaN         NaN         NaN         NaN         NaN
529422         NaN         NaN         NaN         NaN         NaN
529423         NaN         NaN         NaN         NaN         NaN

       Unnamed: 24 Unnamed: 25
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
...            ...         ...
529419         NaN         NaN
529420         NaN         NaN
529421         NaN         NaN
529422         NaN         NaN
529423         NaN         NaN

[529424 rows x 26 columns]

In [67]:
#Mostras os dados de forma organizada
display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529419,CO,MT,CUIABA,OZ REVENDEDORA DE COMBUSTIVEIS LTDA,36.757.198/0001-08,AVENIDA SENADOR METELLO,868,NaN,CENTRO-SUL,78020-600,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529420,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529421,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529422,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
529423,NE,MA,CAXIAS,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,31.597.569/0001-00,RODOVIA BR-316,S/N,KM 552 SALA A,VOLTA REDONDA,65606-525,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#Exibe as primeiras 5 linhas
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
# Exibe as 15 primeiras linhas
display(combustiveis_df.head(15))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,AC,RIO BRANCO,AUTO POSTO AMAPA - EIRELI,00.529.581/0001-53,VIA CHICO MENDES,3570,NaN,AREAL,69906-119,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,N,AC,RIO BRANCO,AUTO POSTO ACAUAN LTDA,00.524.999/0001-78,RODOVIA AC 40,1800,NaN,VILA ACRE,69902-450,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,N,AC,RIO BRANCO,AUTO POSTO ACAUAN LTDA,00.524.999/0001-78,RODOVIA AC 40,1800,NaN,VILA ACRE,69902-450,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,N,AC,RIO BRANCO,AUTO POSTO ACAUAN LTDA,00.524.999/0001-78,RODOVIA AC 40,1800,NaN,VILA ACRE,69902-450,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,N,AC,RIO BRANCO,AUTO POSTO ACAUAN LTDA,00.524.999/0001-78,RODOVIA AC 40,1800,NaN,VILA ACRE,69902-450,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,N,AC,RIO BRANCO,AUTO POSTO ACAUAN LTDA,00.524.999/0001-78,RODOVIA AC 40,1800,NaN,VILA ACRE,69902-450,...,VIBRA ENERGIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,N,AC,RIO BRANCO,AUTO POSTO CORRENTAO LTDA,06.189.982/0001-98,RODOVIA BR-364 (RIO BRANCO-PORTO VELHO),4773,NaN,SANTA INES,69907-701,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,N,AC,RIO BRANCO,AUTO POSTO CORRENTAO LTDA,06.189.982/0001-98,RODOVIA BR-364 (RIO BRANCO-PORTO VELHO),4773,NaN,SANTA INES,69907-701,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,N,AC,RIO BRANCO,AUTO POSTO CORRENTAO LTDA,06.189.982/0001-98,RODOVIA BR-364 (RIO BRANCO-PORTO VELHO),4773,NaN,SANTA INES,69907-701,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,N,AC,RIO BRANCO,AUTO POSTO CORRENTAO LTDA,06.189.982/0001-98,RODOVIA BR-364 (RIO BRANCO-PORTO VELHO),4773,NaN,SANTA INES,69907-701,...,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,N,AC,RIO BRANCO,AUTO POSTO CANINDE LTDA,05.442.544/0001-27,RODOVIA AC 40,3206,KM 07,VILA ACRE,69902-450,...,SABBÁ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
#Comando Dataframe.shape mostra a quantidade de linhas e colunas. exemplo mostras so linhas =[0] colunas [1]
print(combustiveis_df.shape)

(529424, 26)

In [71]:
# Dataframe.info informa quais as colunas e quais tipo de dados nessas colunas 
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529424 entries, 0 to 529423
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     529424 non-null  object
 1   Estado - Sigla     529424 non-null  object
 2   Municipio          529424 non-null  object
 3   Revenda            529093 non-null  object
 4   CNPJ da Revenda    529400 non-null  object
 5   Nome da Rua        529424 non-null  object
 6   Numero Rua         528098 non-null  object
 7   Complemento        126036 non-null  object
 8   Bairro             516252 non-null  object
 9   Cep                528943 non-null  object
 10  Produto            529424 non-null  object
 11  Data da Coleta     529424 non-null  object
 12  Valor de Venda     529424 non-null  object
 13  Valor de Compra    528498 non-null  object
 14  Unidade de Medida  24724 non-null   object
 15  Bandeira           508401 non-null  object
 16  Unnamed: 16        526553 non-null  object
 17  Unnamed: 17        23189 non-null   object
 18  Unnamed: 18        2559 non-null    object
 19  Unnamed: 19        830 non-null     object
 20  Unnamed: 20        221 non-null     object
 21  Unnamed: 21        5 non-null       float64
 22  Unnamed: 22        5 non-null       float64
 23  Unnamed: 23        0 non-null       float64
 24  Unnamed: 24        5 non-null       object
 25  Unnamed: 25        5 non-null       object
dtypes: float64(3), object(23)
memory usage: 105.0+ MB
None

In [72]:
# a função DataFrame.describe() mostras as estaticas mais basicas que a gente precisa
print(combustiveis_df.describe())

       Unnamed: 21  Unnamed: 22  Unnamed: 23
count          5.0     5.000000          0.0
mean           6.0    15.000000          NaN
std            1.0     5.477226          NaN
min            5.0     9.000000          NaN
25%            5.0     9.000000          NaN
50%            6.0    19.000000          NaN
75%            7.0    19.000000          NaN
max            7.0    19.000000          NaN

In [73]:
# Filtrar apenas uma coluna
display(combustiveis_df['Revenda'])

0                    AUTO POSTO AMAPA - EIRELI
1                    AUTO POSTO AMAPA - EIRELI
2                    AUTO POSTO AMAPA - EIRELI
3                    AUTO POSTO AMAPA - EIRELI
4                    AUTO POSTO AMAPA - EIRELI
                          ...
529419     OZ REVENDEDORA DE COMBUSTIVEIS LTDA
529420    POSTAO COMERCIO DE COMBUSTIVEIS LTDA
529421    POSTAO COMERCIO DE COMBUSTIVEIS LTDA
529422    POSTAO COMERCIO DE COMBUSTIVEIS LTDA
529423    POSTAO COMERCIO DE COMBUSTIVEIS LTDA
Name: Revenda, Length: 529424, dtype: object

In [74]:
# Aqui criamos um novo DataFrame apenas com a coluna que eu quero 
ca_df = combustiveis_df[['Revenda','Municipio','Valor de Compra','Produto']]
display(ca_df)

,Revenda,Municipio,Valor de Compra,Produto
0,AUTO POSTO AMAPA - EIRELI,RIO BRANCO,"R$ 99,00",GASOLINA
1,AUTO POSTO AMAPA - EIRELI,RIO BRANCO,"R$ 99,00",ETANOL
2,AUTO POSTO AMAPA - EIRELI,RIO BRANCO,"R$ 9,00",DIESEL
3,AUTO POSTO AMAPA - EIRELI,RIO BRANCO,"R$ 5,00",GASOLINA ADITIVADA
4,AUTO POSTO AMAPA - EIRELI,RIO BRANCO,"R$ 12,00",DIESEL S10
...,...,...,...,...
529419,OZ REVENDEDORA DE COMBUSTIVEIS LTDA,CUIABA,"R$ 49,00",GASOLINA
529420,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,CAXIAS,"R$ 99,00",GASOLINA ADITIVADA
529421,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,CAXIAS,"R$ 59,00",DIESEL S10
529422,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,CAXIAS,"R$ 55,00",DIESEL
529423,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,CAXIAS,"R$ 99,00",GASOLINA

In [75]:
# Usado para filtar por linhas, nesse exemplo mostra apenas a 4 linha
display(ca_df.loc[4])

Revenda            AUTO POSTO AMAPA - EIRELI
Municipio                         RIO BRANCO
Valor de Compra                     R$ 12,00
Produto                           DIESEL S10
Name: 4, dtype: object

In [76]:
# Exibe da 10a. linha até a 20a.
display(ca_df.loc[10:20])

                      Revenda   Municipio Valor de Compra             Produto
10  AUTO POSTO CORRENTAO LTDA  RIO BRANCO        R$ 98,00            GASOLINA
11  AUTO POSTO CORRENTAO LTDA  RIO BRANCO         R$ 8,00              DIESEL
12  AUTO POSTO CORRENTAO LTDA  RIO BRANCO         R$ 8,00  GASOLINA ADITIVADA
13  AUTO POSTO CORRENTAO LTDA  RIO BRANCO        R$ 13,00          DIESEL S10
14    AUTO POSTO CANINDE LTDA  RIO BRANCO        R$ 98,00            GASOLINA
15    AUTO POSTO CANINDE LTDA  RIO BRANCO         R$ 5,00              DIESEL
16    AUTO POSTO CANINDE LTDA  RIO BRANCO        R$ 13,00  GASOLINA ADITIVADA
17    AUTO POSTO CANINDE LTDA  RIO BRANCO         R$ 9,00          DIESEL S10
18         POSTO BATISTA LTDA  RIO BRANCO        R$ 87,00            GASOLINA
19         POSTO BATISTA LTDA  RIO BRANCO        R$ 99,00          DIESEL S10
20  AUTO POSTO AEROPORTO LTDA  RIO BRANCO        R$ 99,00            GASOLINA

In [77]:
# Criar um DataFrame gas_df contendo apenas as 4 colunas(Revenda, Municipio, Produtos, Valor de Venda).
# Somente com combustivel sendo Gasolinha e exibir na tela.

gas_df =ca_df.loc[ca_df['Produto']=='GASOLINA']
display(gas_df)

,Revenda,Municipio,Valor de Compra,Produto
0,AUTO POSTO AMAPA - EIRELI,RIO BRANCO,"R$ 99,00",GASOLINA
5,AUTO POSTO ACAUAN LTDA,RIO BRANCO,"R$ 99,00",GASOLINA
10,AUTO POSTO CORRENTAO LTDA,RIO BRANCO,"R$ 98,00",GASOLINA
14,AUTO POSTO CANINDE LTDA,RIO BRANCO,"R$ 98,00",GASOLINA
18,POSTO BATISTA LTDA,RIO BRANCO,"R$ 87,00",GASOLINA
...,...,...,...,...
529408,AUTO POSTO CENTENARIO LTDA.,DIVINOPOLIS,"R$ 19,00",GASOLINA
529411,DUAS AVENIDAS DE MOGI GUACU POSTO DE SERVICOS ...,MOGI GUACU,"R$ 99,00",GASOLINA
529416,AUTO POSTO NORDESTE LTDA,IRECE,"R$ 94,00",GASOLINA
529419,OZ REVENDEDORA DE COMBUSTIVEIS LTDA,CUIABA,"R$ 49,00",GASOLINA
529423,POSTAO COMERCIO DE COMBUSTIVEIS LTDA,CAXIAS,"R$ 99,00",GASOLINA

In [ ]:
# Exibe qual é o posto e municipio da gasolina mais cara do país

display(gas_df[['Revenda','Municipio','Valor de Venda']].max())